body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #333;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px black;
    position: fixed;
}
header button {
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    position: absolute;   
    right: 10px;   
    top: 29%; 
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;  
}

header h1 {
    color: #c9c5c9; /* Color rosa brillante */
    font-family: 'Press Start 2P', cursive; /* Fuente retro */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  }

  header h1 span {
    display: inline-block;
    transition: transform 0.5s ease;
}
 

  header h1 span:hover {
    transform: rotate(90deg);
}

#btnCarrito { 
    background-color: #333;
    border-radius: 20px;
    transition: transform 1.5s ease;
}

#btnCarrito:hover {
    transform: rotate(360deg);
}

#container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#welcome {
    width: 100%;
    height: auto;
    margin-top: 125px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px black;
  }

#banner{
    margin-top: 125px;
}

#cantidadCarrito {
    color: white;
    font-weight: bold;
}

#descuento {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px black;
  }
#btn-catalogo{
    background-color: #525252;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    color: #ffffff;
    width: 10%;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
}
#btn-catalogo:hover{
    background-color: #989898;
    box-shadow: 0px 1px 4px black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}

#categoria-Bebidas,
#categoria-Snacks,
#categoria-Golosinas,
#categoria-Comidas,
#categoria-Panaderia{
    color: #ffffff;
    text-decoration: none;
}


#categoria-Bebidas:hover,
#categoria-Snacks:hover,
#categoria-Golosinas:hover,
#categoria-Comidas:hover,
#categoria-Panaderia:hover { 
  color: #666;
}  

main {
    margin: auto;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-gap: 20px; */
    flex-direction: column;
}

#productoContainer {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 1px 4px black;
    border-radius: 5px;
}

#productoContainer h2 {
    font-size: 18px;
    margin: 10px 0;
}

#productoContainer img {
    width: 100%;
    height: auto;
    transition: transform 1.5s ease;
}

#productoContainer p {
    font-size: 16px;
}

#productoContainer span {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    display: block; 
}

#productoContainer button {
    background-color: #333;    
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: block; 
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#productoContainer button:hover {
    background-color: #666;
    box-shadow: 0px 1px 4px black;
}

#productoContainer:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  /* #productoContainer:hover img {
    transform: rotate(360deg);
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 40%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    max-height: 40%; 
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 4px black;
}

.modal-content button {
    background-color:#333;
    color: white;
    border: none;
}
.modal-content button:hover {
    background-color:#666;
    color: #333;
    box-shadow: 0px 1px 4px black;
}

.close {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 205px;
    right: 155px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}
.close:hover {
    transform: rotate(90deg);
}

.producto-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 29px; */
    flex-wrap: wrap;
    width: 45%;
    padding: 10px;
    /* height: 50%; */
    /* border: solid 1px; */
    border-radius: 5px;
    box-shadow: 0px 1px 4px black;
}

.producto-carrito > * {
    width: 33.33%;
    text-align: center; 
}

.img-producto-carrito {
    width: 50px;
    height: auto;
    object-fit: cover;
}

.modal-footer {
    position: fixed;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    padding: 10px;
    top: 77%;
    background-color: rgb(198, 185, 185);
    font-weight: bold;
    /* color: white; */
    right: 132px;
    left: 132px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px black;
}

#checkout-btn {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;   
  }

#checkout-btn:hover {
    background-color: #666;
    color: #333;
    box-shadow: 0px 1px 4px black;
  }
  
  #resumen-compra {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 376px;
    max-height: 84%;
    overflow-y: auto;
  }
  
  #formulario-compra {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  #formulario-compra button{
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    height: 41px;
    width: 133px;
    font-family: 'Montserrat', sans-serif;
  }

  #formulario-compra button:hover{
    background-color: #666;
    color: #333;
    box-shadow: 0px 1px 4px black;
  }
  
  .producto-resumen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .img-producto-resumen {
    width: 50px;
    height: 50px;
  }
  
  input,
  select {
    display: block;
    width: 97%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra los elementos horizontalmente */
}


  #btnCancelar{
    height: 41px;
    width: 133px;
    background-color: #333;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
  }

  #btnCancelar:hover{
    background-color: #666;
    color: #333;
    box-shadow: 0px 1px 4px black;
  }

/* Estilo para el contenedor del scroll */
.modal-content::-webkit-scrollbar {
    width: 10px;
} 

/* Estilo para la barra de scroll */
.modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo para el track del scroll */
.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Cuando se pasa el mouse por encima de la barra de scroll */
.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Estilo para el contenedor del scroll */
#resumen-compra::-webkit-scrollbar,
#formulario-compra::-webkit-scrollbar {
    width: 10px;
}

/* Estilo para la barra de scroll */
#resumen-compra::-webkit-scrollbar-thumb,
#formulario-compra::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo para el track del scroll */
#resumen-compra::-webkit-scrollbar-track,
#formulario-compra::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Cuando se pasa el mouse por encima de la barra de scroll */
#resumen-compra::-webkit-scrollbar-thumb:hover,
#formulario-compra::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

footer{
    background-color: black;
    color: white;
    padding: 50px;
}

/* Estilo para el contenedor del scroll */
body::-webkit-scrollbar {
    width: 10px;
}

/* Estilo para la barra de scroll */
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo para el track del scroll */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Cuando se pasa el mouse por encima de la barra de scroll */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#contenido {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
#contenido button {
   font-size: 20px;
   border: none;
   border-radius: 5px;
   background-color: #333;
   color: white;
   font-family: 'Montserrat', sans-serif;
}
#contenido button:hover {
   background-color: #666;
   color: #333;
}